*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* 990 tak responsive karna hai */

::-webkit-scrollbar{
  display: none;
}

.css-flntgr-MuiGrid-root  {
  margin-left: 15px !important;
}
